<!--Slider Area Start-->
		<div class="slider-area">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-3 d-md-none col-lg-3 d-lg-block"></div>
		            <div class="col-md-8 col-lg-6">
		                <div class="hero-slider owl-carousel">
                            <!--Single Slider Start-->
                            <div class="single-slider" style="background-image: url(img/slider/home1-slider-1.jpg)">  
                                <div class="hero-slider-content">
                                    <h2 class="slow-animation1">pendant lights</h2>
                                    <h2 class="slow-animation2">collection 2018</h2>
                                    <h4>get up to</h4>
                                    <h1>30% off</h1>
                                    <div class="slider-btn mt-50">
                                        <a href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Single Slider End-->
                            <!--Single Slider Start-->
                            <div class="single-slider" style="background-image: url(img/slider/home1-slider-2.jpg)">   
                                <div class="hero-slider-content">
                                    <h2 class="slow-animation1">Beat solo2</h2>
                                    <h2 class="slow-animation2">wireless</h2>
                                    <h4>get up to</h4>
                                    <h1>60% off</h1>
                                    <div class="slider-btn mt-50">
                                        <a href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!--Single Slider End-->
                        </div>
		            </div>
		            
		        </div>
		        <div class="banner-slide mt-30">
		            <div class="banner-inner">
		                <a href="#"><img class="d-lg-block d-md-block d-none" src="img/banner/slider-banner.jpg" alt=""> <img class="d-block d-md-none d-lg-none" src="img/banner/slider-banner1.png" alt=""></a>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Slider Area End-->
		
		<!--Product Area Start-->
		<div class="product-area mt-80">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
		                <!--Section Title Start-->
		                <div class="section-title">
		                    <h2>bestsellers</h2>
		                </div>
		                <!--Section Title End-->
		            </div>
		        </div>
		        <div class="product-block-content">
		            <div class="row">
                        <div class="bestsellerSlide pdr-0 owl-carousel">
                            <div class="col-md-12">
                                <!--Single Product Start-->
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img class="first-img" src="img/product/product1.jpg" alt="">
                                            <img class="hover-img" src="img/product/product2.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="ion-bag"></i></a></li>
                                                <li><a href="#open-modal" data-toggle="modal"><i class="ion-eye"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-copy-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">The North Face Men's</a></h4>
                                        <div class="product-price">
                                            <span class="price">$80.00</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--Single Product End-->
                            </div>
                            <div class="col-md-12">
                                <!--Single Product Start-->
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img class="first-img" src="img/product/product3.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="ion-bag"></i></a></li>
                                                <li><a href="#open-modal" data-toggle="modal"><i class="ion-eye"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-copy-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Lipstick Ultra Violet</a></h4>
                                        <div class="product-price">
                                            <span class="price">$180.00</span>
                                        </div>
                                       
                                    </div>
                                </div>
                                <!--Single Product End-->
                            </div>
                            <div class="col-md-12">
                                <!--Single Product Start-->
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img class="first-img" src="img/product/product4.jpg" alt="">
                                            <img class="hover-img" src="img/product/product5.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="ion-bag"></i></a></li>
                                                <li><a href="#open-modal" data-toggle="modal"><i class="ion-eye"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-copy-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Bedding Jigsaw Quilted</a></h4>
                                        <div class="product-price">
                                            <span class="price">$250.00</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--Single Product End-->
                            </div>
                            <div class="col-md-12">
                                <!--Single Product Start-->
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img class="first-img" src="img/product/product6.jpg" alt="">
                                            <img class="hover-img" src="img/product/product7.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="ion-bag"></i></a></li>
                                                <li><a href="#open-modal" data-toggle="modal"><i class="ion-eye"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-copy-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Adams Men's Dunbar</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price">$400.00</span>
                                            <span class="price">$320.00</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--Single Product End-->
                            </div>
                            <div class="col-md-12">
                                <!--Single Product Start-->
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img class="first-img" src="img/product/product6.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="ion-bag"></i></a></li>
                                                <li><a href="#open-modal" data-toggle="modal"><i class="ion-eye"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-copy-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">The North Face Men's</a></h4>
                                        <div class="product-price">
                                            <span class="price">$350.00</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--Single Product End-->
                            </div>
                            <div class="col-md-12">
                                <!--Single Product Start-->
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img class="first-img" src="img/product/product8.jpg" alt="">
                                            <img class="hover-img" src="img/product/product9.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="ion-bag"></i></a></li>
                                                <li><a href="#open-modal" data-toggle="modal"><i class="ion-eye"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-copy-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Versace Bright Crystal</a></h4>
                                        <div class="product-price">
                                            <span class="price">$260.00</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--Single Product End-->
                            </div>
                            <div class="col-md-12">
                                <!--Single Product Start-->
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img class="first-img" src="img/product/product10.jpg" alt="">
                                            <img class="hover-img" src="img/product/product11.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="ion-bag"></i></a></li>
                                                <li><a href="#open-modal" data-toggle="modal"><i class="ion-eye"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-copy-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">The North Face Men's</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price">$60.00</span>
                                            <span class="price">$54.00</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--Single Product End-->
                            </div>
                            <div class="col-md-12">
                                <!--Single Product Start-->
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img class="first-img" src="img/product/product11.jpg" alt="">
                                            <img class="hover-img" src="img/product/product12.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="ion-bag"></i></a></li>
                                                <li><a href="#open-modal" data-toggle="modal"><i class="ion-eye"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-copy-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="single-product.html">Columbia Men's Ascender</a></h4>
                                        <div class="product-price">
                                            <span class="price">$36.00</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--Single Product End-->
                            </div>
                        </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Product Area End-->
		<!--Banner Area Start-->
		<div class="banner-area mt-80">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
		                <div class="banner-inner">
                            <a href="#"><img src="img/banner/offer-banner1.jpg" alt=""></a>
                        </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Banner Area End-->
		<!--Categorie Product Area Start-->
		<div class="categorie-product-area mt-80">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
		                <!--Section Title Start-->
		                <div class="section-title float-left">
		                    <h2>Women Clothing</h2>
		                </div>
		                <!--Section Title End-->
		                <!--Product Slider Nav-->
		                <div class="cate-slider-nav float-right">
		                    <button class="nav-prev"><i class="fa fa-angle-left"></i></button>
		                    <button class="nav-next"><i class="fa fa-angle-right"></i></button>
		                </div>
		                <!--Product Slider Nav-->
		            </div>
		        </div>
		        <div class="cate-product-wrapper">
		           <div class="row">
                        <div class="col-md-12 col-lg-3">
                            <!--Product Categorie Start-->
                            <div class="product-categorie">
                                <!--Categorie Filter Toggle--> 
                                <button class="product-tab-filter-toggle">categories: <span>all</span><i class="ion-chevron-down"></i></button>
                                <!--Categorie Filter Toggle--> 
                                <ul class="cate-filter">
                                    <li><a href="shop.html">Fashion</a></li>
                                    <li><a href="shop.html">Gown</a></li>
                                    <li><a href="shop.html">Skirts</a></li>
                                    <li><a href="shop.html">Jeans</a></li>
                                    <li><a href="shop.html">Office Wear</a></li>
                                    <li><a href="shop.html">Shoes</a></li>
                                    <li><a href="shop.html">Cosmetic</a></li>
                                    <li><a href="shop.html">Accessories</a></li>
                                </ul>
                            </div>
                            <!--Product Categorie Start-->
                        </div>
                        <div class="col-md-12 col-lg-9">
                            <!--Product Banner Start-->
                            <div class="banner-block-content">
                                <div class="banner-inner">
                                    <a href="#"><img src="img/banner/product-banner2.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="categorie-product-block-content">
                        <div class="row">
                            <div class="cate-product-slide owl-carousel">
                                 <% for(var i =0; i < women.length; i++) { %>
                                <div class="col-md-12">
                                    <!--Single Product Start-->
                                   
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="/product-details/<%= women[i].id  %>">
                                                <img class="first-img" src="../<%= women[i].imagePath %>" alt="" width="100%" height="200">
                                                <img class="hover-img" src="../<%= women[i].imagePath %>" alt="">
                                            </a>
                                            <% var sub = women[i].listprice - women[i].price;
                                              var discount = Math.trunc(sub * 100/women[i].listprice);
                                            %>
                                            <% if(women[i].listprice) { %>
                                            <span class="sticker">-<%= discount %>%</span>
                                            <% } %>
                                            
                                            
                                        </div>
                                        <div class="product-content">
                                            <h4><a href="/product-details/<%= women[i].id  %>"><%=women[i].title %></a></h4>
                                            <div class="product-price">
                                                <% if(women[i].listprice) { %>
                                                <span class="price" style="text-decoration:line-through; color:red;">$<%=women[i].listprice %></span> 
                                                <% } %>
                                                   &nbsp; <span class="price">$<%=women[i].price %></span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                   
                                    <!--Single Product End-->
                                </div>
                               
                                 <% }  %>
                               
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
		        </div>
		    </div>
		</div>
		<!--Categorie Product Area End-->
		<!--Categorie Product Area Start-->
		<div class="categorie-product-area mt-80">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
		                <!--Section Title Start-->
		                <div class="section-title float-left">
		                    <h2>Men Clothing</h2>
		                </div>
		                <!--Section Title End-->
		                <!--Product Slider Nav-->
		                <div class="cate-slider-nav float-right">
		                    <button class="nav-prev"><i class="fa fa-angle-left"></i></button>
		                    <button class="nav-next"><i class="fa fa-angle-right"></i></button>
		                </div>
		                <!--Product Slider Nav-->
		            </div>
		        </div>
		        <div class="cate-product-wrapper">
		           <div class="row">
                        <div class="col-md-12 col-lg-3">
                            <!--Product Categorie Start-->
                            <div class="product-categorie">
                                <!--Categorie Filter Toggle--> 
                                <button class="product-tab-filter-toggle">categories: <span>all</span><i class="ion-chevron-down"></i></button>
                                <!--Categorie Filter Toggle--> 
                                <ul class="cate-filter">
                                    <li><a href="shop.html">Shirts</a></li>
                                    <li><a href="shop.html">Polos</a></li>
                                    <li><a href="shop.html">Chinos</a></li>
                                    <li><a href="shop.html">Jeans</a></li>
                                    <li><a href="shop.html">Shoes</a></li>
                                    
                                    
                                    <li><a href="shop.html">Accessories</a></li>
                                </ul>
                            </div>
                            <!--Product Categorie Start-->
                        </div>
                        <div class="col-md-12 col-lg-9">
                            <!--Product Banner Start-->
                            <div class="banner-block-content">
                                <div class="banner-inner">
                                    <a href="#"><img src="img/banner/men.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="categorie-product-block-content">
                        <div class="row">
                            <div class="cate-product-slide owl-carousel">
                                <% for(var i=0; i < men.length; i++) { %>
                                <div class="col-md-12">
                                    <!--Single Product Start-->
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="/product-details/<%= men[i].id  %>">
                                                <img class="first-img" src="../<%=men[i].imagePath %>" alt="" width="100%" height="200">
                                                <img class="hover-img" src="../<%=men[i].imagePath %>" alt="">
                                            </a>
                                              <% var sub = men[i].listprice - men[i].price;
                                              var discount = Math.trunc(sub * 100/men[i].listprice);
                                            %>
                                            <% if(men[i].listprice) { %>
                                            <span class="sticker">-<%= discount %>%</span>
                                            <% } %>
                                            
                                        </div>
                                        <div class="product-content">
                                            <h4><a href="/product-details/<%= men[i].id  %>"><%=men[i].title %></a></h4>
                                             <% if(men[i].listprice) { %>
                                                <span class="price" style="text-decoration:line-through; color:red;">$<%=men[i].listprice %></span> 
                                                <% } %>
                                                   &nbsp;
                                            <div class="product-price">
                                                <span class="price">$<%=men[i].price %></span>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <!--Single Product End-->
                                </div>
                                <% } %>
                                
                               
                               
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
		        </div>
		    </div>
		</div>
		<!--Categorie Product Area End-->
		<!--Categorie Product Area Start-->
		<div class="categorie-product-area mt-80">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
		                <!--Section Title Start-->
		                <div class="section-title float-left">
		                    <h2>Electronics</h2>
		                </div>
		                <!--Section Title End-->
		                <!--Product Slider Nav-->
		                <div class="cate-slider-nav float-right">
		                    <button class="nav-prev"><i class="fa fa-angle-left"></i></button>
		                    <button class="nav-next"><i class="fa fa-angle-right"></i></button>
		                </div>
		                <!--Product Slider Nav-->
		            </div>
		        </div>
		        <div class="cate-product-wrapper">
		           <div class="row">
                        <div class="col-md-12 col-lg-3">
                            <!--Product Categorie Start-->
                            <div class="product-categorie">
                                <!--Categorie Filter Toggle--> 
                                <button class="product-tab-filter-toggle">categories: <span>all</span><i class="ion-chevron-down"></i></button>
                                <!--Categorie Filter Toggle--> 
                                <ul class="cate-filter">
                                    <li><a href="shop.html">Fashion</a></li>
                                    <li><a href="shop.html">Furniture</a></li>
                                    <li><a href="shop.html">Electronics</a></li>
                                    <li><a href="shop.html">Cosmetic</a></li>
                                    <li><a href="shop.html">Computer & Laptop</a></li>
                                    <li><a href="shop.html">Game Consoles</a></li>
                                    <li><a href="shop.html">Cosmetic</a></li>
                                    <li><a href="shop.html">Accessories</a></li>
                                </ul>
                            </div>
                            <!--Product Categorie Start-->
                        </div>
                        <div class="col-md-12 col-lg-9">
                            <!--Product Banner Start-->
                            <div class="banner-block-content">
                                <div class="banner-inner">
                                    <a href="#"><img src="img/banner/tv.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="categorie-product-block-content">
                        <div class="row">
                            <div class="cate-product-slide owl-carousel">
                                <% for(var i =0; i < electronics.length; i++) { %>
                                <div class="col-md-12">
                                    <!--Single Product Start-->
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="/product-details/<%= electronics[i].id  %>">
                                                <img class="first-img" id="img-product" src="<%=electronics[i].imagePath %>" alt="" width="100%" height="200">
                                                <img class="hover-img" src="<%=electronics[i].imagePath %>" alt="">
                                            </a>
                                             <% var sub = Math.trunc(electronics[i].listprice - electronics[i].price);
                                              var discount = sub * 100/electronics[i].listprice;
                                            %>
                                            <% if(electronics[i].listprice) { %>
                                            <span class="sticker">-<%= discount %>%</span>
                                            <% } %>
                                            
                                        </div>
                                        <div class="product-content">
                                            <h4><a href="/product-details/<%= electronics[i].id  %>"><%=electronics[i].title %></a></h4>
                                             <% if(electronics[i].listprice) { %>
                                                <span class="price" style="text-decoration:line-through; color:red;">$<%=electronics[i].listprice %></span> 
                                                <% } %>
                                                   &nbsp;
                                            
                                            <div class="product-price">
                                                <span class="price" >$<%=electronics[i].price %></span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!--Single Product End-->
                                </div>
                                
                                <% } %>
                               
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
		        </div>
		    </div>
		</div>
		<!--Categorie Product Area End-->
		<!--Categorie Product Area Start-->
		<div class="categorie-product-area mt-80">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
		                <!--Section Title Start-->
		                <div class="section-title float-left">
		                    <h2>Furnitures</h2>
		                </div>
		                <!--Section Title End-->
		                <!--Product Slider Nav-->
		                <div class="cate-slider-nav float-right">
		                    <button class="nav-prev"><i class="fa fa-angle-left"></i></button>
		                    <button class="nav-next"><i class="fa fa-angle-right"></i></button>
		                </div>
		                <!--Product Slider Nav-->
		            </div>
		        </div>
		        <div class="cate-product-wrapper">
		           <div class="row">
                        <div class="col-md-12 col-lg-3">
                            <!--Product Categorie Start-->
                            <div class="product-categorie">
                                <!--Categorie Filter Toggle--> 
                                <button class="product-tab-filter-toggle">categories: <span>all</span><i class="ion-chevron-down"></i></button>
                                <!--Categorie Filter Toggle--> 
                                <ul class="cate-filter">
                                    <li><a href="shop.html">Fashion</a></li>
                                    <li><a href="shop.html">Furniture</a></li>
                                    <li><a href="shop.html">Electronics</a></li>
                                    <li><a href="shop.html">Cosmetic</a></li>
                                    <li><a href="shop.html">Computer & Laptop</a></li>
                                    <li><a href="shop.html">Game Consoles</a></li>
                                    <li><a href="shop.html">Cosmetic</a></li>
                                    <li><a href="shop.html">Accessories</a></li>
                                </ul>
                            </div>
                            <!--Product Categorie Start-->
                        </div>
                        <div class="col-md-12 col-lg-9">
                            <!--Product Banner Start-->
                            <div class="banner-block-content">
                                <div class="banner-inner">
                                    <a href="#"><img src="img/banner/product-banner4.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="categorie-product-block-content">
                        <div class="row">
                            <div class="cate-product-slide owl-carousel">
                                <% for(var i=0; i < furniture.length; i++) { %>
                                <div class="col-md-12">
                                    <!--Single Product Start-->
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="/product-details/<%= furniture[i].id  %>">
                                                <img class="first-img" src="../<%= furniture[i].imagePath %>" alt="" width="100%" height="200">
                                                <img class="hover-img" src="../<%= furniture[i].imagePath %>" alt="">
                                            </a>
                                            <% var sub = furniture[i].listprice - furniture[i].price;
                                              var discount = Math.trunc(sub * 100/furniture[i].listprice);
                                            %>
                                            <% if(furniture[i].listprice) { %>
                                            <span class="sticker">-<%= discount %>%</span>
                                            <% } %>
                                           
                                        </div>
                                        <div class="product-content">
                                            <h4><a href="single-product.html"><%=furniture[i].title %></a></h4>
                                          <% if(furniture[i].listprice) { %>
                                                <span class="price" style="text-decoration:line-through; color:red;">$<%=furniture[i].listprice %></span> 
                                                <% } %>
                                                   &nbsp;
                                            <div class="product-price">
                                                <span class="price">$<%=furniture[i].price %></span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!--Single Product End-->
                                </div>
                                
                                <% } %>
                                
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
		        </div>
		    </div>
		</div>
		<!--Categorie Product Area End-->
		



