<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Ecommerce Products</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Ecommerce Products</li>
                        </ol>
                    </div>
                    
                    <div class="">
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right ml-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
<div class="table-responsive">
                
				<table id="demo-foo-addrow" class="table product-table table-hover contact-list" data-page-size="10">
                                        <thead>
                      <tr>
                         <th>ID</th>
						 <th>Product</th>
						 <th>Category</th>
						 <th>SKU</th>
						 <th>Price</th>
						  <th>Action</th>
						 <td class="op-0">&nbsp;</td>
                        <td class="op-0">&nbsp;</td>
						
						
                      </tr>
                    </thead>
                    <% for(var i= 0;i < products.length;i++) { %>                   
   <tbody>
        
                      <tr>
                          
					  <td><%= products[i].id %></td>
                         <td class="font-bold"><img src="../<%= products[i].imagePath %>" /><%= products[i].title %> <br>
                          </td>
                       <td><%= products[i].category %></td>
						 <td><%= products[i].sku %></td>
						 <td>$<%= products[i].price %></td>
						
						 
						 <td class="text-center"><a href="/edit_product/<%= products[i].id %>"><i class="fa fa-pencil text-primary"></i></a></td>
                          <form class="form-horizontal" method="POST" action="/delete_product/<%=products[i].id %>" enctype="multipart/form-data">
						 	 <td class="text-center"><button type="submit"><i class="fa fa-trash text-danger text-danger"></i></button></td>
                          </form>
					  </tr>
					  
					  
					  
					  
					  
					  
					  
                    </tbody>
                    <% } %>
                

									   <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    <a class="btn btn-primary btn-rounded" href="ecommerce-add-new.html.html">Add New Product</button>
                                                </td>
                                                <td colspan="7">
                                                    <div class="text-right">
                                                        <ul class="pagination"> </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                
				
				</div>                          

						  </div>
                        </div>
                        <!-- Column --> </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="mt-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li class="d-block mt-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme working">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2018 Hyrax UX Admin Template by SRGIT </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->